* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

/* https://rickandmortyapi.com/documentation/#get-all-characters */

/* https://react.useanimations.com/ */

/* https://react-hot-toast.com/ */

/* https://www.youtube.com/watch?v=QQYeipc_cik */

/* https://www.npmjs.com/package/spinners-react */